/* .choosetitle-modal-1 {} */

.choosetitle-div-2 {
    padding-left: 0;
    padding-right: 0
}

.choosetitle-div-3 {
    font-size: 21px
}

/* .choosetitle-input-4 {} */

.choosetitle-button-5 {
    padding: 10px 15px 10px 15px;
    border: 1px solid #1e0233ff;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #1e0233ff
}

