/* .edittag-modal-1{}

.edittag-input-2{} */

.edittag-button-3 {
    padding: 10px 15px 10px 15px;
    border: 1px solid #1e0233ff;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: #1e0233ff
}