.leftsideitem-div-1 {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding: 16px;
    align-items: center;
    transition: all .2s ease;
}

.active-nav{
    background-color: #a9cc8aff;
}

.leftsideitem-div-1:hover{
    background-color: #a9cc8aff;
}

@media only screen and (max-width: 850px){
    .leftsideitem-div-3{
        display: none;
    }

    

}

/* .leftsideitem-div-2{}

.leftsideitem-div-3{} */