.nav-outer{
    height: 66px;
    
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    -webkit-box-sizing: border-box; 
    position: fixed;
    width: 100%;
    
}

.nav-form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    max-width: 100%;
    -webkit-box-sizing: border-box; 
}

.fixed{
    position: fixed;
}

.nav-logo{
    font-family: "Apple Chancery", "sans-serif";
    font-size: 20px;
    color: #879e48ff;
}

nav{
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    float: right;
    margin-left: 200px;
    position: relative;
    
}

.nav-container{
    width: 336px;
    display: flex;
    justify-content: space-between;
    margin-right: 172px;
}

.nav-item{
    font-size: 13px;
}

nav{
    display: flex;
    width: 100%;
}

.nav-link a:link, .nav-link a:visited{
    color: #879e48ff;
}

@media only screen and (max-width: 850px){
    .hidden{
        display: none;
    }
    nav{
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }
}